<html>
    <head>
        <title>The best blog ever</title>
    </head>
    <body>
     

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}


        <div>
            <p>Опубликованно: 28.07.2018, 12:14</p>
            <h2><a href="">Первый, к сожалению, не последний</a></h2>
            <p>Тут был какой-то длинный текст</p>
        </div>

        <div>
            <p>Опубликованно: 28.07.2018, 12:14</p>
            <h2><a href="">Второй</a></h2>
            <p>Хочу кушать</p>
        </div>
    </body>
</html>